@charset "utf-8";
/* CSS Document */

* {
    margin  : 0;
    padding : 0;
}

ul, ol {
    list-style : none;
}

body {
    font-size  : 10px;
    background : url(../matter/bg3.png) repeat;
}

button, input, textarea {
    font-family : sans-serif;
}

header {
    margin     : 0 auto 20px auto;
    width      : 100%;
    height     : 45px;
    padding    : 5px;
    /* background : url(../matter/header.png) bottom repeat-x; */
    background : #fff;
    box-shadow : 0 1px 1px rgba(0, 0, 0, .1);
}

header div {
    width  : 960px;
    margin : 0 auto
}

header a {
    color           : #333;
    text-decoration : none;
}

#hptitle {
    margin      : 0;
    background  : url(../matter/logo.png) 0 -40px no-repeat;
    width       : 350px;
    height      : 40px;
    overflow    : hidden;
    text-indent : -9999px;
    float       : left;
}

.wrap {
    width       : 960px;
    margin      : 0 auto;
    text-shadow : -1px -1px 0 rgba(255, 255, 255, 0.4);
    /*outline : 1px solid green;*/
}

.guide {
    width        : 890px;
    margin       : 0 auto;
    padding-left : 2px;
    /* outline      : 1px solid green; */
}

.clearfix::before, .clearfix::after {
    content : "";
    display : table;
    clear   : both;
}

.guide-title {
    font-family   : '方正粗黑宋简体', serif;
    font-size     : 3em;
    text-align    : center;
    margin-bottom : 1em;
}

.copyright {
    text-align : right;
    color      : #aaa;
    width      : 890px;
    margin     : 0 auto;
    font-size  : 1.5em;
    display    : none;
}

.animebox {
    float         : left;
    width         : 200px;
    height        : 350px;
    margin        : 0 10px 20px 10px;
    overflow      : hidden;
    border-radius : 4px;
    box-shadow    : 0 0 3px rgba(0, 0, 0, .2);
    border        : 1px solid rgb(221, 221, 221);
    background    : #fff;
}

.animebox p, .animebox h2 {
    text-align : center;
}

.animebox h2 {
    font-family    : '方正粗黑宋简体', serif;
    font-size      : 16px;
    line-height    : 1.2em;
    vertical-align : middle;
    font-weight    : normal;
    height         : 50px;
    overflow       : hidden;
    display        : table-cell;
    width          : 200px;
}

.animebox p {
    font-size   : 12px;
    font-family : '微软雅黑', serif;
    height      : 25px;
    line-height : 25px;
}

.animedetail {
    font-size : 12px;
    /* outline  : 1px solid orange; */
}

.animedetail h2 {
    font-weight : 900;
    font-size   : 1.5em;
}

.animedetail h3 {
    font-size    : 1em;
    border-left  : 5px solid #3ea2ff;
    padding-left : 0.5em;
}

.animedetail img {
    display          : block;
    padding          : 3px;
    border           : 1px solid #ccc;
    margin           : 20px auto;
    background-color : #fff;
}

.animedetail ul {
    padding : 1em 0 1em 2em;
}

.infobox li {
    line-height : 2em;
    display     : table-row;
    height      : 2em;
}

.infobox b {
    display       : table-cell;
    width         : auto;
    padding-right : 1em;
}

.dialog {
    margin : 1em auto 1em 2em;
}

.dialog p {
    /*text-indent: 2em;*/
    margin      : 1em auto;
    line-height : 1.5em;
}

.selector {
    display       : none;

    /* moudle property*/
    box-sizing    : border-box;

    /* position */
    margin-left   : -120px;
    position      : absolute;
    top           : 50px;
    width         : 600px;
    margin-top    : 13px;
    left          : 50%;

    /* display */
    border-radius : 10px;
    padding       : 10px;
    text-align    : center;
    /*outline     : 1px solid red;*/
    /*border        : 2px solid #eee;*/
    box-shadow    : 0 0 5px 1px rgba(0, 0, 0, 0.4);
    background    : url("../matter/bg3.png");
    cursor        : default;
}

.selector::before {
    position : absolute;
    content  : "";
    height   : 20px;
    /*outline : 1px solid brown;*/
    width    : 100%;
    left     : 0;
    bottom   : 100%;
}

.trangle::before,
.trangle::after {

    content  : "";
    position : absolute;
    width    : 0;
    height   : 0;
    left     : inherit;
    border   : 15px solid transparent;

}

.trangle::before {
    /*outline      : 1px solid orangered;*/
    top          : -30px;
    border-color : transparent transparent #ccc transparent;
}

.trangle::after {
    border-color : transparent transparent #fdfdfd transparent;
    top          : -27px;
}

.pages-selector .trangle {
    left : 3em;
}

.origintype-selector .trangle {
    left : 10em;
}

.sequel-selector .trangle {
    left : 15.5em;
}

.onair-selector .trangle {
    left : 21em;
}

.genre-selector .trangle {
    left : 26em;
}

.staff-selector .trangle {
    left : 30em;
}

.cast-selector .trangle {
    left : 34.5em;
}

.selector h3 {
    font-size   : 1.5em;
    font-weight : normal;
}

.property-list li {
    float         : left;
    font-size     : 0.75em;
    height        : 1em;
    line-height   : 1em;
    padding       : 0.5em;
    border-radius : 5px;
    margin        : 0 1em 1em 0;
    background    : #46996a;
    color         : transparent;
    text-shadow   : 1px 1px 0 #fff, 0 0 0 rgba(0, 0, 0, 0.4);
    cursor        : pointer;
}

.property-list li span {
    background    : #336744;
    padding       : 0.2em 0.8em;
    margin-left   : 0.2em;
    border-radius : 5px;
    box-shadow    : inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.property-list li:hover, .property-list-current {
    box-shadow : inset 2px 2px 3px rgba(0, 0, 0, 0.4), 0 0 5px rgba(51, 103, 68, .8);
}

.tab {
    /*margin : 20px auto 50px auto; */
    /*    outline : 1px solid blue;*/
    float  : right;
    height : 40px;
    width  : 600px;
}

.tab-nav > li {
    float         : left;
    font-size     : 1.5em;
    margin-right  : 10px;
    border-radius : 5px;
    border        : 1px solid #777;
    /*    background    : #46996a;*/
    color         : #111;
    /*    text-shadow   : 1px 1px 0 #fff, 0 0 0 rgba(0, 0, 0, 0.4);*/
    height        : 40px;
    cursor        : pointer;;
    line-height   : 40px;
    padding       : 0 0.5em;
}

.tab-nav > li:hover {
    background : #aaa;
    color      : #fff;
    border     : 1px solid #aaa;
}

.tab-nav li:hover .selector {
    display : block;
    color   : #111;
}

.tab-box {
    border             : 1px solid #ccc;
    background-color   : #fafafa;
    -webkit-box-shadow : 2px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow    : 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow         : 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding            : 10px;
    border-radius      : 0 5px 5px 5px;
}

.selector button {
    color         : transparent;
    text-shadow   : 1px 1px 0 #fff, 0 0 0 rgba(0, 0, 0, 0.4);
    border        : none;
    cursor        : pointer;
    line-height   : 1em;
    padding       : 0.5em 0.6em 0.5em 0.5em;
    border-radius : 5px;
    background    : #3ea2ff;
}

/*.tab-box button:hover {*/
.selector button:hover {
    /*background : #347ec6;*/
    box-shadow : inset 0 0 10px rgba(0, 0, 0, 0.4), 0 0 3px rgba(62, 162, 255, 0.5);
}

/*.tab-box input {*/
.selector input {
    margin        : 20px 0;
    border-radius : 5px;
    border        : 1px solid rgba(52, 126, 198, 0.3);
    box-shadow    : 0 0 3px rgba(52, 126, 198, 0.5), 0 0 5px rgba(52, 126, 198, 0.2);
    height        : 1.5em;
    text-align    : center;
}

.scrolltop {
    position: fixed;
    left:50%;
    margin-left:475px;
    bottom: 50px;
}

.scrolltop a {
    text-decoration: none;
    display: block;
    width: 1em;
    padding:1em 0.5em 0.5em 0.5em ;
    background: #fcfcfc;
    border-radius: 3px;
    border:1px solid #fafafa;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.4);
    color: inherit;
}

.scrolltop a::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left:-5px;
    top : 0px;
    border:5px solid;
    border-color: transparent transparent #333 transparent;
}

.scrolltop a:hover {
    background: #ccc;
    border-color: #ccc;
}

